* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #262e31;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBox {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: rotate(-30deg) skew(20deg) translateX(calc(30px * var(--i)))
    translateY(calc(-30px * var(--i)));
  z-index: calc(1 + var(--i));
  opacity: calc(1 - (0.2 * var(--j)));
}
